.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  padding: 20px;
}

.welcome-box {
  max-width: 600px;
  padding: 40px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

.welcome-title {
  color: #0d47a1;
  font-size: 3em; /* Сделали "Hola!" крупнее */
  font-weight: 700;
  margin-bottom: 10px; /* Уменьшили отступ снизу */
  border-bottom: none;
}

.welcome-subtitle {
  font-size: 1.5em; /* Сделали подзаголовок тоже крупнее */
  color: #555;
  margin-bottom: 40px;
  font-weight: 300; /* Более легкий шрифт */
}

.welcome-button {
  padding: 15px 30px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.welcome-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.welcome-footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 1.8em;
  font-weight: 300;
}
